In [2]:
import yfinance as yf
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Define ticker symbols
tickers = ['TSLA', 'BND', 'SPY']

# Define time period
start_date = '2015-07-01'
end_date = '2025-07-31'

# Download data for each ticker
data_tsla = yf.download('TSLA', start=start_date, end=end_date)
data_bnd = yf.download('BND', start=start_date, end=end_date)
data_spy = yf.download('SPY', start=start_date, end=end_date)

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [3]:
print("TSLA Data:")
print(data_tsla.head())

print("\nBND Data:")
print(data_bnd.head())

print("\nSPY Data:")
print(data_spy.head())

TSLA Data:
Price           Close       High        Low       Open     Volume
Ticker           TSLA       TSLA       TSLA       TSLA       TSLA
Date
2015-07-01  17.943333  18.174667  17.856667  18.073999   31518000
2015-07-02  18.667999  18.830000  18.220667  18.680000  107458500
2015-07-06  18.648001  18.779333  18.420000  18.591999   61828500
2015-07-07  17.858667  18.346666  17.384666  18.333332   91576500
2015-07-08  16.997334  17.386667  16.954000  17.288000   93316500

BND Data:
Price           Close       High        Low       Open   Volume
Ticker            BND        BND        BND        BND      BND
Date
2015-07-01  60.816757  60.914483  60.764135  60.794206  5399300
2015-07-02  60.967056  61.027198  60.936986  60.936986  1060100
2015-07-06  61.177559  61.222668  61.057282  61.222668  2210700
2015-07-07  61.237709  61.470750  61.237709  61.410615  4183200
2015-07-08  61.410610  61.463233  61.312879  61.373020  1967800

SPY Data:
Price            Close        High         Low        Open     Volume
Ticker             SPY         SPY         SPY         SPY        SPY
Date
2015-07-01  174.917099  175.363874  174.124701  175.110979  135979900
2015-07-02  174.756927  175.566188  174.335441  175.397596  104373700
2015-07-06  174.259583  175.043542  173.256441  173.458760  117975400
2015-07-07  175.355453  175.481894  172.059422  174.461903  173820200
2015-07-08  172.413467  174.293296  172.177436  174.006688  164020100

In [4]:
data_tsla['Asset'] = 'TSLA'
data_bnd['Asset'] = 'BND'
data_spy['Asset'] = 'SPY'

In [5]:
# Combine all datasets
data_all = pd.concat([data_tsla, data_bnd, data_spy])
data_all.reset_index(inplace=True)  # Reset index to make 'Date' a column

In [10]:
data_all.to_csv('../src/gmf_assets_data.csv', index=False)

In [6]:
df = pd.read_csv("../src/gmf_assets_data.csv")
df.tail()

,Date,Close,High,Low,Open,Volume,Asset,Close.1,High.1,Low.1,Open.1,Volume.1,Close.2,High.2,Low.2,Open.2,Volume.2
7601,2025-07-24,NaN,NaN,NaN,NaN,NaN,SPY,NaN,NaN,NaN,NaN,NaN,634.4199829101562,636.1500244140625,633.989990234375,634.5999755859375,71307100.0
7602,2025-07-25,NaN,NaN,NaN,NaN,NaN,SPY,NaN,NaN,NaN,NaN,NaN,637.0999755859375,637.5800170898438,634.8400268554688,635.0900268554688,56865400.0
7603,2025-07-28,NaN,NaN,NaN,NaN,NaN,SPY,NaN,NaN,NaN,NaN,NaN,636.9400024414062,638.0399780273438,635.5399780273438,637.47998046875,54917100.0
7604,2025-07-29,NaN,NaN,NaN,NaN,NaN,SPY,NaN,NaN,NaN,NaN,NaN,635.260009765625,638.6699829101562,634.3400268554688,638.3499755859375,60556300.0
7605,2025-07-30,NaN,NaN,NaN,NaN,NaN,SPY,NaN,NaN,NaN,NaN,NaN,634.4600219726562,637.6799926757812,631.5399780273438,635.9199829101562,80418900.0

In [1]:
import pandas as pd

# Load your original CSV (adjust the filename)
df = pd.read_csv('../src/gmf_assets_data.csv')

# Inspect the columns
print("Columns in original CSV:")
print(df.columns)

# Since your CSV has repeated groups of columns per asset (TSLA, BND, SPY),
# first rename columns to unique names:

# Manually rename columns based on your CSV structure,
# adjust these lists if your column order is different

tsla_cols = ['Date', 'TSLA_Open', 'TSLA_High', 'TSLA_Low', 'TSLA_Close', 'TSLA_Volume']
bnd_cols = ['Date', 'BND_Open', 'BND_High', 'BND_Low', 'BND_Close', 'BND_Volume']
spy_cols = ['Date', 'SPY_Open', 'SPY_High', 'SPY_Low', 'SPY_Close', 'SPY_Volume']

# Your original df probably looks like this:
# Columns: ['Date', 'Close', 'High', 'Low', 'Open', 'Volume', 'Asset', 'Close', 'High', 'Low', 'Open', 'Volume', 'Close', 'High', 'Low', 'Open', 'Volume']
# So rename accordingly to avoid duplicates:
df.columns = [
    'Date',
    'TSLA_Close', 'TSLA_High', 'TSLA_Low', 'TSLA_Open', 'TSLA_Volume',
    'Asset',  # this column seems to have asset names but not useful in this format
    'BND_Close', 'BND_High', 'BND_Low', 'BND_Open', 'BND_Volume',
    'SPY_Close', 'SPY_High', 'SPY_Low', 'SPY_Open', 'SPY_Volume'
]

# Drop the 'Asset' column as it’s not needed
df = df.drop(columns=['Asset'])

# Convert Date to datetime
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

# Now create separate DataFrames per asset, dropping rows where Close is NaN
tsla = df[['Date', 'TSLA_Open', 'TSLA_High', 'TSLA_Low', 'TSLA_Close', 'TSLA_Volume']].dropna(subset=['TSLA_Close']).copy()
tsla['Asset'] = 'TSLA'
tsla.columns = ['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Asset']

bnd = df[['Date', 'BND_Open', 'BND_High', 'BND_Low', 'BND_Close', 'BND_Volume']].dropna(subset=['BND_Close']).copy()
bnd['Asset'] = 'BND'
bnd.columns = ['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Asset']

spy = df[['Date', 'SPY_Open', 'SPY_High', 'SPY_Low', 'SPY_Close', 'SPY_Volume']].dropna(subset=['SPY_Close']).copy()
spy['Asset'] = 'SPY'
spy.columns = ['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Asset']

# Concatenate into one long DataFrame
long_df = pd.concat([tsla, bnd, spy], ignore_index=True)

# Sort by Date and Asset for neatness
long_df = long_df.sort_values(by=['Date', 'Asset']).reset_index(drop=True)

# Save to new CSV
long_df.to_csv('../src/gmf_assets.csv', index=False)

print(long_df.head())

Columns in original CSV:
Index(['Date', 'Close', 'High', 'Low', 'Open', 'Volume', 'Asset', 'Close.1',
       'High.1', 'Low.1', 'Open.1', 'Volume.1', 'Close.2', 'High.2', 'Low.2',
       'Open.2', 'Volume.2'],
      dtype='object')
        Date                Open                High                 Low  \
0 2015-07-01   60.79420555267443   60.91448292834065   60.76413477490427
1 2015-07-01   175.1109794107984   175.3638741746747  174.12470140816666
2 2015-07-01  18.073999404907227  18.174667358398438  17.856666564941406
3 2015-07-02   60.93698552085218   61.02719778153781   60.93698552085218
4 2015-07-02   175.3975959243057  175.56618814172808  174.33544051529762

                Close       Volume Asset
0   60.81675720214844    5399300.0   BND
1  174.91709899902344  135979900.0   SPY
2   17.94333267211914   31518000.0  TSLA
3   60.96705627441406    1060100.0   BND
4  174.75692749023438  104373700.0   SPY